<launch>
  <arg name="nn_path" default="$(find clearpath_oak)/nn/mobilenet-ssd.blob" />
  <group ns="oak">
    <node name="oak_stereo" pkg="clearpath_oak" type="oak_node">
      <param name="nn_path"  value="$(arg nn_path)" />
      <rosparam command="load" file="$(find clearpath_oak)/config/categories.yaml" />
    </node>

    <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" />
    <node pkg="nodelet" type="nodelet" name="depth_image_to_pointcloud_nodelet"
          args="load depth_image_proc/point_cloud_xyz nodelet_manager">
      <remap from="camera_info" to="stereo/camera_info"/>
      <remap from="image_rect" to="stereo/image"/>
      <remap from="points" to="stereo/points"/>
    </node>
  </group>
</launch>
